@mixin Screen-1400 {
  @media (max-width: 1400px) {
    //1200
    @content;
  }
}

// @mixin Screen-14 {
//   @media (max-width: 1340px) {
//     //1200
//     @content;
//   }
// }

@mixin Screen-1200 {
  @media (max-width: 1200px) {
    //992
    @content;
  }
}

@mixin Screen-992 {
  @media (max-width: 992px) {
    //768
    @content;
  }
}

@mixin Screen-768 {
  @media (max-width: 768px) {
    //576
    @content;
  }
}

@mixin Screen-576 {
  @media (max-width: 576px) {
    //320
    @content;
  }
}



$minWidth: 576px;
$maxWidth: 1200px;

@function strip-unit($value) {
  @if type-of($value) == 'number' and unit($value) != "" {
    @return $value / 1px * 1;
  }
  @return $value;
}

@function ac($start-size, $end-size, $min-breakpoint: $minWidth, $max-breakpoint: $maxWidth) {
  $start-size: strip-unit($start-size);
  $end-size: strip-unit($end-size);
  $min-breakpoint: strip-unit($min-breakpoint);
  $max-breakpoint: strip-unit($max-breakpoint);
  
  $difference: $start-size - $end-size;
  $formula: calc(#{$end-size}px + #{$difference} * ((100vw - #{$min-breakpoint}px) / #{$max-breakpoint - $min-breakpoint}));

  @if $difference > 0 {
    @return clamp(#{$end-size}px, #{$formula}, #{$start-size}px);
  } @else {
    @return clamp(#{$start-size}px, #{$formula}, #{$end-size}px);
  }
}

@function ps($max-size, $percentage) {
    @return ($max-size * $percentage / 100) + 0px; 
}

@function ar($width, $height) {
  $width: strip-unit($width);
  $height: strip-unit($height);
  @return $width / $height;
}