.cases {
  margin-bottom: 295px;
  @include Screen-768 {
    margin-bottom: 165px;
  }
  @include Screen-576 {
    margin-bottom: 105px;
  }
  &-wrap {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  &-item {
    position: relative;
    margin-bottom: 32px;
    @include Screen-992 {
      margin-bottom: 24px;
    }
    @include Screen-768 {
      display: flex;
      flex-direction: column-reverse;
    }
    &:last-child {
      margin-bottom: 0;
    }
    &__link {
      color: #FFF;
      font-size: 88px;
      font-weight: 500;
      line-height: normal;
      letter-spacing: -2.2px;
      text-decoration-line: underline;
      text-transform: lowercase;
      transition: .3s all;
      &:hover {
        color: #00FFA3;
      }
      @include Screen-992 {
        font-size: 64px;
      }
      @include Screen-576 {
        font-size: 32px;
        letter-spacing: -0.8px;
      }
    }
    &__type {
      color: rgba(255, 255, 255, 0.7);
      width: 180px;
      font-size: 24px;
      font-weight: 500;
      line-height: normal;
      letter-spacing: -0.6px;
      text-transform: lowercase;
      position: absolute;
      top: 0;
      right: -170px;
      @include Screen-768 {
        position: relative;
        top: auto;
        right: auto;
      }
      @include Screen-576 {
        font-size: 14px;
        letter-spacing: -0.35px;
      }
    }
  }
}