.footer {
  padding-bottom: 151px;
  @include Screen-992 {
    padding-bottom: 100px;
  }
  @include Screen-576 {
    padding-bottom: 33px;
  }
  &-wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    @include Screen-576 {
      flex-direction: column;
      align-items: flex-start;
    }
  }
  &-hello {
    color: #FFF;
    font-size: 197px;
    font-weight: 500;
    line-height: 82%;
    letter-spacing: -4.925px;
    text-decoration: underline;
    text-transform: lowercase;
    @include Screen-992 {
      font-size: 147px;
    }
    @include Screen-768 {
      font-size: 102px;
    }
    @include Screen-576 {
      font-size: 64px;
      margin-bottom: 80px;
    }
    &:hover {
      color: #FFF;
      cursor: url(../../img/cursor-hello.png), auto;
    }
  }
  &-socials {
    display: flex;
    flex-direction: column;
    @include Screen-576 {
      flex-direction: row;
    }
  }
  &-social {
    color: #FFF;
    text-align: right;
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.5px;
    text-transform: lowercase;
    margin-bottom: 29px;
    &:hover {
      color: #00FFA3;
      text-decoration: none;
    }
    &:last-child {
      margin-bottom: 0;
      margin-right: 0;
    }
    @include Screen-576 {
      margin-right: 29px;
    }
  }
}