.nav {
  padding: 28px 0 0 0;
  @include Screen-576 {
    padding: 16px 0 0 0;
  }
  &-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-logo {
    @include Screen-576 {
      max-width: 93px;
      line-height: normal;
    }
  }
  &-logo, .nav-list__item a {
    color: #FFF;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: -0.5px;
    text-transform: lowercase;
    @include Screen-576 {
      font-size: 16px;
    }
  }
  &-list {
    display: flex;
    &__item {
      margin-right: 60px;
      a {
        transition: .3s all;
        &:hover {
          text-decoration: none;
          color: rgba(255, 255, 255, 0.793);
        }
      }
      &:first-child {
        @include Screen-576 {
          display: none;
        }
      }
      &:last-child {
        margin: 0;
      }
    }
  }


}
.header {
  margin: 340px 0 297px 0;
  @include Screen-1200 {
    margin: 240px 0 250px 0;
  }
  @include Screen-992 {
    margin: 240px 0 150px 0;
  }
  @include Screen-576 {
    margin: 80px 0 38px 0;
  }
  &-wrap {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    padding-bottom: 55px;
    @include Screen-992 {
      flex-direction: column;
      align-items: flex-start;
    }
    @include Screen-576 {
      padding-bottom: 32px;
    }
  }
  &-block {
    position: relative;
  }
  &-memoji {
    position: absolute;
    right: -40px;
    top: -150px;
    border-radius: 120px;
    @include Screen-576 {
      position: relative;
      top: auto;
      right: auto;
      transform: translateX(-10px);
    }
    &__sticker {
      width: 100%;
      max-width: 148px;
      left: 50%;
      position: absolute;
      top: 50%;
      transform: translate(-51%,-45%);
      @include Screen-576 {
        max-width: 89px;
        margin-bottom: 44px;
      }
    }
    &__text {
      letter-spacing: 4px;
      fill: #FFF;
      font-size: 12.778px;
      font-weight: 400;
      line-height: normal;
    }
    
    &__rotateText {
      animation-name: rotate-circle;
      animation-play-state: paused;
      animation-duration: 5s;
      animation-timing-function: linear;
      animation-iteration-count: infinite;
      @include Screen-576 {
        width: 130px;
      }
    }

    &:hover {
      .header-memoji__rotateText {
        animation-play-state: running;
      }
    }
  }
  &-title {
    color: #FFF;
    font-size: 197px;
    font-weight: 500;
    line-height: 82%;
    letter-spacing: -4.925px;
    text-transform: lowercase;
    max-width: 855px;
    @include Screen-1200 {
      font-size: 151px;
    }
    @include Screen-992 {
      margin-bottom: 28px;
    }
    @include Screen-768 {
      font-size: 112px;
    }
    @include Screen-576 {
      font-size: 58px;
      letter-spacing: -1.45px;
    }
  }
  &-descr {
    color: #FFF;
    text-align: right;
    font-size: 20px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.5px;
    text-transform: lowercase;
    max-width: 270px;
    @include Screen-992 {
      text-align: left;
    }
    @include Screen-576 {
      font-size: 16px;

    }
  }
}




@keyframes rotate-circle {
  to {
    transform: rotate(1turn);
  }
}

