.main-case {
  margin-bottom: 156px;
  animation: show linear both;
  animation-timeline: view(block);
  animation-range: contain 60 contain 100;
  &__wrap {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
  }
  &__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__subtittle {
    color: rgba(255, 255, 255, 0.7);
    font-size: 24px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.6px;
    text-transform: lowercase;
    margin-bottom: 4px;
  }
  &__title {
    color: #FFF;
    font-size: 92px;
    font-weight: 500;
    line-height: 82%;
    letter-spacing: -2.3px;
    text-transform: lowercase;
    margin-bottom: 32px;
  }
  &__descr {
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
    line-height: 110.5%;
    letter-spacing: -0.6px;
    text-transform: lowercase;
    max-width: 485px;
  }
  &__block {
     
  }
  &__link {
    color: #FFF;
    font-size: 24px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -0.6px;
    text-decoration-line: underline;
    text-transform: lowercase;
    &:hover {
      color: #00FFA3;
    }
  }


  &__image {
    padding-left: 68px;
    position: relative;
    img {
      max-width: 617px;
      width: 100%;
    }

    &--hover {
      width: calc(100% + 10px);
      height: calc(100% + 10px);
      background: rgba(0, 0, 0, 0.53);
      backdrop-filter: blur(9.5px);
      position: absolute;
      top: -10px;
      left: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      opacity: 0;
      transition: .3s all;
      a {
        color: #FFF;
        font-size: 92px;
        font-weight: 500;
        line-height: normal;
        letter-spacing: -2.3px;
        text-decoration-line: underline;
        text-transform: lowercase;
      }
    }

    &:hover {
      .main-case__image--hover {
        opacity: 1; 
      }

      ~ .main-case__text .main-case__link {
        color: #00FFA3; /* Змінити колір тексту посилання .main-case__link при hover на .main-case__image */
      }
    }
  }
}


@keyframes show {
  0%{

  }
  93% {
    transform: skew(0deg, 0deg);
  }
  100% {
    transform: skew(6deg, 2deg);
  }
}